/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.resultado {
  margin-top: 10px;
  border: 1px solid black;
  padding: 4px;
}
