
<div class="container-fluid text-center">
  <header class="d-flex justify-content-center align-item-center py-3 bg-secondary.bg-gradient rounded bg-secondary bg-gradient text-white">


    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active"  class="nav-link" aria-current="page" style="color:white; font-size: 20px;">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="post-list" routerLinkActive="active" class="nav-link"
        style="color:white; font-size: 20px;">Lista de Postagens</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" routerLinkActive="active"class="nav-link"
        style="color:white; font-size: 20px;">Sobre</a>
      </li>
    </ul>

  </header>


  <router-outlet></router-outlet>


</div>

