<div class="background color-white">
  <div class="container d-flex align-item-center justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="home" routerLinkActive="active">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="produtos" routerLinkActive="active">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="sobre" routerLinkActive="active">Sobre</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
